<html>


<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css') }}">
	</head>

<body>
{% include "nav.html" %}
{% include "flash.html" %}
	
<h1> Edit Restaurant </h1>
<div class="pane">

<form action="{{ url_for('editRestaurant',restaurant_id = restaurant.id)}}" method = 'post'>


	<p>Name:</p>
		<input type ='text' size='30' name='name' placeholder = '{{restaurant.name }}'>


<input type='submit' value='Edit'>


<a href = '{{url_for('showRestaurants')}}'> Cancel </a>

</form>
</div>
</body>

</html>
